server {
    listen 8080;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location /api/products {
        proxy_pass http://${PRODUCT_HOST}:8000/products;
        proxy_set_header X-Request-ID $request_id;
    }

    location /api/orders {
        proxy_pass http://${ORDER_HOST}:8000/orders;
        proxy_set_header X-Request-ID $request_id;
    }

    location /api/ {
        return 404;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
